<jw-modal [id]='id' (closeEvent)="onModalClosed()">
  <h1 class="text-xl font-semibold dark:text-textPrimaryDark">Band selection</h1>

  <div class="flex flex-row items-center my-2">
    <div class="flex-grow h-px bg-gray dark:bg-grayLight"></div>
    <button class="btn-rounded btn-blue" (click)="onAddNewBandClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="icon">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
    </button>
    <div class="w-2 h-px bg-gray dark:bg-grayLight"></div>
  </div>

  <div class="flex flex-row gap-8 text-lg font-semibold text-textPrimary dark:text-textPrimaryDark">
    <p class="flex-grow">Color</p>
    <p class="flex-grow">Resistance</p>
  </div>

  <div *ngFor="let band of bands; last as IsLast" class="w-full">
    <button class="flex flex-row gap-8 p-2 rounded-md w-full" (click)="onBandClicked(band)">
      <div class="flex-grow">
        <div class="btn-rounded w-6 h-6" [ngStyle]="{'background-color' : band.color}"></div>
      </div>
      <p class="flex-grow text">{{band.weight}} Kg</p>
    </button>
    <div *ngIf="!IsLast" class="flex-grow h-px bg-gray dark:bg-grayLight my-1"></div>
  </div>

  <form *ngIf="bandForm" [formGroup]="bandForm">
    <div class="flex">
      <div class="flex mx-auto mt-4 items-center">
        <div class="mr-4">
          <div class="btn-rounded w-7 h-7" [ngStyle]="{'background-color' : band.color}"></div>
        </div>

        <div class="flex flex-row items-center justify-end">
          <input class="input w-14 text-center mr-1" formControlName="weight" type="number"
            [ngClass]="{'input-invalid': !bandForm.get('weight').valid && bandForm.get('weight').touched}" />
          <p class="text">Kg</p>
        </div>
      </div>
    </div>

    <div *ngIf="!bandForm.get('weight').valid">
      <p *ngIf="bandForm.get('weight').value > 0 else negativeValue"
        class="text-red-500 text-base font-bold text-center">Maximum band resistance exceeded</p>
      <ng-template #negativeValue>
        <p class="text-red-500 text-base font-bold text-center">You cannot put a negative value</p>
      </ng-template>
    </div>

    <div class="flex flex-col justify-center items-center mt-2">
      <p class="label">Whole band used?</p>
      <div class="flex flex-row items-center mt-2">
        <input formControlName="use" type="radio" value="full" class="radioButton">
        <p class="ml-2 mr-4 text">Full</p>

        <input formControlName="use" type="radio" value="half" class="radioButton">
        <p class="ml-2 text">Half</p>
      </div>

      <p class="label">Band ends</p>
      <div class="flex flex-row items-center mt-2">
        <input formControlName="ends" type="radio" value="one" class="radioButton">
        <p class="ml-2 mr-4 text">One</p>

        <input formControlName="ends" type="radio" value="two" class="radioButton">
        <p class="ml-2 text">Two</p>
      </div>
    </div>

  </form>

  <div class="flex justify-end w-64 mt-4">
    <button class="btn-transparent mr-4" (click)="closeModal()">Close</button>
    <button class="btn-transparent" (click)="onSubmit()">Accept</button>
  </div>

</jw-modal>