<jw-modal [id]='id'>
  <h1 class="text-xl font-semibold dark:text-textPrimaryDark">Band selection</h1>

  <div class="flex flex-row items-center my-2">
    <div class="flex-grow h-px bg-gray dark:bg-grayLight"></div>
    <button class="btn-rounded btn-blue" (click)="onAddNewBandClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="icon">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
    </button>
    <div class="w-2 h-px bg-gray dark:bg-grayLight"></div>
  </div>

  <div class="flex flex-row gap-8 text-lg font-semibold text-textPrimary dark:text-textPrimaryDark">
    <p>Color</p>
    <p>Resistance</p>
  </div>

  <div *ngFor="let band of bands; last as IsLast" class="w-full">
    <button  class="flex flex-row gap-8 p-2 rounded-md w-full"
      (click)="onBandClicked(band)">
      <div class="flex-grow">
        <div class="btn-rounded w-6 h-6" [ngStyle]="{'background-color' : band.color}"></div>
      </div>
      <p class="flex-grow text">{{band.weight}} Kg</p>
    </button>
    <div *ngIf="!IsLast" class="flex-grow h-px bg-gray dark:bg-grayLight my-1"></div>
  </div>

</jw-modal>