<div class="background sm:flex sm:flex-wrap sm:content-center">
  <div class="w-10/12 sm:w-8/12 md:w-6/12 xl:w-4/12 m-auto my-10 card">

    <h1 class="font-bold h-sec mt-4 text-center">Login</h1>

    <form [formGroup]="signInFormGroup" (ngSubmit)="onSignIn(signInFormGroup.value)" class="mt-6">

      <label class="my-4 label" for="name">Username</label>
      <input [ngClass]="{'input-invalid': invalidCredentials}" class="my-4 w-full input" type="text" autofocus
        formControlName="name" placeholder="Username" />

      <label class="my-4 label" for="password">Password</label>
      <input [ngClass]="{'input-invalid': invalidCredentials}" class="mt-4 mb-1 w-full input" type="password"
        formControlName="password" placeholder="Password" />

      <p *ngIf="invalidCredentials" class="text-red-500 text-sm font-bold">Wrong username or password</p>

      <a class="link">Forget Password?</a>
      <!--disable on not valid form-->
      <button type="submit" class="w-full mt-4 btn btn-blue">Login</button>

    </form>

    <p class="mt-12 text-xs text-center text"> Don't have an account?
      <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="text-xs ml-2 link">Create One</a>
    </p>
  </div>
</div>