<div *ngIf="set.setParts.length > 0; else exerciseForm">
    <app-accordion>
        <app-accordion-item *ngFor="let setPart of set.setParts; index as index" [itemCss]="'card my-4'">
            <div header *ngIf="setPart.exercise" class="text-lg text-center w-full mb-2">{{setPart?.exercise.name}}
                {{setPart?.quantity}} {{index}}</div>
            <ng-container body *ngTemplateOutlet="exerciseForm; context:{index:index, setPart:setPart}"></ng-container>
        </app-accordion-item>
    </app-accordion>

    <button *ngIf="multiExercise" class="btn btn-blue w-full" (click)="addNewSetPart()">Add exercise</button>
</div>

<ng-template #exerciseForm let-index="index" let-setPart="setPart">
    <app-set-selection (setPart)="addSetPart($event, index)" [restBetweenExercises]="restBetweenExercises"
        [setPartToEdit]="setPart"></app-set-selection>
</ng-template>