<div class="h-full overflow-y-auto md:overflow-hidden px-2 md:p-4">
    <div class="md:h-full w-full flex md:flex-row flex-col-reverse gap-4 my-2 md:my-0">

        <div *ngIf="isTrainer" class="md:w-9/12
        md:shadow-md md:bg-light-lightest md:dark:bg-dark-dark md:rounded-lg p-4">
            People that you train
        </div>

        <div class="md:flex-grow md:h-full flex flex-col gap-4 md:overflow-y-auto" style="padding-bottom: 1px;">

            <div class="flex flex-col flex-wrap content-center
            md:shadow-md md:bg-primary md:dark:bg-lightDark md:rounded-lg p-4" *ngIf="userData">
                <ng-container *ngTemplateOutlet="userInfo"></ng-container>
            </div>

            <div class="md:w-full flex-grow
            md:shadow-md md:bg-light-lightest md:dark:bg-dark-dark md:rounded-lg p-4">
                <p>Coming soon overall statistics</p>
            </div>

        </div>

    </div>
</div>

<ng-template #userInfo>
    <div class="p-2">
        <h3 class="text-center text-xl font-medium">{{userData.name}}</h3>
        <h4 class="text-center text-textblue dark:text-textblue-dark">{{userData.email}}</h4>
    </div>
</ng-template>