.calendar{
  @apply bg-primary dark:bg-primaryLightDark grid grid-cols-7 gap-2
  w-full h-full 
}

.day{
  @apply rounded-full 
  w-10 h-10 
  sm:w-12 sm:h-12
  xl:w-14 xl:h-14
  hover:bg-grayLight dark:hover:bg-gray
}

.today{
  @apply text-secondary
  hover:bg-secondary hover:text-primary
}

.dot{
  @apply rounded-full bg-tertiary
  h-1 w-1
  md:h-1.5 md:w-1.5 
  mx-0.5
  relative
}