.calendar{
  @apply grid grid-cols-7 gap-2
  w-full h-full
}

.day{
  @apply rounded-full 
  w-10 h-10 
  sm:w-12 sm:h-12
  xl:w-14 xl:h-14
  sm:text-lg lg:text-2xl
  hover:bg-light-darkest dark:hover:bg-dark-darkest
}

.day-selected{
  @apply
  bg-light-dark hover:bg-light-dark
}

.today{
  @apply text-blue font-bold
  hover:bg-blue hover:text-white
}

.today-selected{
  @apply
  bg-blue text-white
}

.dot{
  @apply rounded-full
  h-1 w-1
  md:h-1.5 md:w-1.5 
  mx-0.5
  relative
}