<div class="calendar">
  <div *ngFor='let weekDay of weekDaysName' class="flex flex-wrap content-center">
    <div class="m-auto">{{ weekDay }}</div>
  </div>

  <div *ngFor='let day of monthDays' class="flex flex-wrap content-center">
    <button [ngClass]="{'today': day.isCurrentDay,'opacity-40': !day.isCurrentMonth}" (click)="onDayClicked(day)"
      class="day m-auto">
      <div class="relative">
        <p>{{ day.number}}</p>
        <div class="flex w-full">
          <div class="w-full flex flex-row absolute">
            <div class="mx-auto flex flex-row ">
              <div *ngFor="let training of day.trainingsDay?.trainings" class="dot"></div><!--ngfor here for trainings-->
            </div>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>