<div class="flex flex-row  items-center my-4">
  <label class="label mr-4 flex-grow" for="name">Exercise</label>
  <div class="flex w-3/5">
    <ng-select [items]="exercises | async" [ngModel]="exerciseSelectedName"
      (ngModelChange)="onExerciseNameSelectedChange($event)" class="input w-full">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="input m-px">{{item | titlecase}}</div>
      </ng-template>
    </ng-select>
  </div>
</div>


  <div class="flex flex-row items-center my-4" *ngIf="exerciseSelectedSpecs?.progressions.length > 0">
    <label class="label mr-4 flex-grow" for="progression">Progression</label>
    <div class="flex w-3/5">
      <ng-select #selectProgression [items]="exerciseSelectedSpecs?.progressions" [ngModel]="exerciseSelectedProgression" class="input w-full"
      (ngModelChange)="onProgressionChange($event)">
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <div class="input m-px">{{item | titlecase}}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="flex flex-row items-center my-4" *ngIf="exerciseSelectedSpecs?.variations.length > 0">
    <label class="label mr-4 flex-grow" for="variation">Variation</label>
    <div class="flex w-3/5">
      <ng-select #selectVariation [items]="exerciseSelectedSpecs?.variations" [ngModel]="exerciseSelectedVariation" class="input w-full"
      (ngModelChange)="onVariationChange($event)">
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <div class="input m-px">{{item | titlecase}}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>
