<div class="flex justify-center gap-4">
  <div>
    <p *ngFor="let muscle of muscles; index as i">{{muscle}}</p>
  </div>
  <div class="flex flex-col">
    <div class="flex justify-end" *ngFor="let count of countPerMuscleArray; index as i">
      <p>{{count}} {{unit}}</p>
      <svg *ngIf="count == maxValue; else min" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        class="max w-6 h-6">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z" />
      </svg>
      <ng-template #min>
        <svg *ngIf="count == minValue; else space" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="min w-6 h-6">
          <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
        </svg>
      </ng-template>
      <ng-template #space>
        <div class="w-6"></div>
      </ng-template>
    </div>
  </div>
</div>