<div class="flex md:flex-row flex-col overflow-y-auto h-full md:p-4 gap-4 md:justify-around static">

  <div class="flex flex-col w-full md:w-3/5 lg:w-2/5">
    <div *ngIf="trainingSpecs"
      class="flex flex-wrap justify-between p-1 md:p-2 rounded-b-xl md:rounded-lg text-lg md:mb-4"
      [ngStyle]="{'background-color' : trainingSpecs.color, 'color' : contrast(trainingSpecs.color)}">
      <p>{{trainingSpecs.name}}</p>
      <p>{{trainingSpecs.date | date:'fullDate'}}</p>
    </div>
    <app-exercises-set-list (trainingSpecs)="setTrainingSpecs($event)" [editing]="true" class="p-4 md:p-0 md:overflow-y-auto md:pr-2">
    </app-exercises-set-list>
  </div>

  <div class="w-full md:w-1/2 xl:w-1/4 h-auto md:h-full md:overflow-y-auto card">
    <app-exercises-set-add-form></app-exercises-set-add-form>
  </div>

  <div class="absolute bottom-4 right-4">
    <button class="btn-rounded btn-blue mx-auto shadow-lg" (click)="setsForm.submitEdition()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-white w-12 h-12">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
      </svg>
    </button>
  </div>

</div>