<div class="flex md:flex-row flex-col overflow-auto h-full md:overflow-hidden p-4 gap-4 justify-content-center static">

  <app-exercises-set-list [editing]="true"></app-exercises-set-list>

  <div class="w-full md:w-1/2 xl:w-1/4 h-auto md:h-full md:overflow-y-auto overflow-visible card mx-auto">
    <app-exercises-set-add-form></app-exercises-set-add-form>
  </div>

  <div class="absolute bottom-4 right-4">
    <button class="btn-rounded btn-blue mx-auto shadow-lg" (click)="setsForm.submitEdition()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon w-12 h-12">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
      </svg>
    </button>
  </div>

</div>