<div class="flex md:flex-row flex-col gap-2">

  <div class="rounded-lg p-2 shadow-md bg-light-lightest dark:bg-dark-dark mb-auto mr-auto text-center">{{set.type |
    titlecase}}</div>

  <div class="flex w-full">
    <div class="flex flex-col items-center flex-grow mr-4 flex-wrap">

      <div class="flex flex-row flex-grow items-center justify-items-center flex-wrap w-full"
        *ngFor="let setPart of set?.setParts; last as isLast; index as i">

        <div *ngIf="i < set?.setParts.length/set?.setsCount"
          class="flex flex-row flex-grow items-center justify-items-center flex-wrap w-full">
          <div class="flex rounded-lg p-4 md:p-6 shadow-md bg-light-lightest dark:bg-dark-dark flex-grow gap-4 flex-wrap
  justify-items-center place-content-center w-full mb-2 border-l-8 border-blue">
            <!--TODO put this border color depending on muscle color-->
            <p class="text-center w-full md:w-auto">{{setPart.exercise?.name | titlecase}}
              {{setPart.exercise?.progression
              | titlecase}}
              {{setPart.exercise?.variation | titlecase}}</p>

            <ng-container
              *ngTemplateOutlet="weight; context:{weight:setPart.intensity.weight, bodyWeight: setPart.exercise.bodyWeight}">
            </ng-container>

            <div *ngIf="setPart?.intensity?.band" class="mx-2 btn-rounded w-6 h-6"
              [ngStyle]="{'background-color' : setPart.intensity.band.color}"></div>

            <div *ngIf="setPart.exercise.static; else repsFormat">
              <p>{{setPart.quantity | secondsFormat}}</p>
            </div>
            <ng-template #repsFormat>
              <p>{{setPart.quantity | setQuantityFormatter}}</p>
            </ng-template>

            <div *ngIf="setPart.rest && setPart.rest != 0" class="flex">
              <ng-container *ngTemplateOutlet="rest; context:{rest:setPart.rest}">
              </ng-container>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="flex my-auto">
      <p>{{set.setsCount}}</p>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="icon-active">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M7 7h10v3l4-4-4-4v3H5v6h2V7zm10 10H7v-3l-4 4 4 4v-3h12v-6h-2v4z" />
      </svg>
    </div>

  </div>
</div>

<ng-template #rest let-rest="rest">
  <p class="text-black dark:text-white">{{rest | secondsFormat}}</p>
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" class="icon-active">
    <path d="M0 0h24v24H0V0z" fill="none" />
    <path
      d="M15.07 1.01h-6v2h6v-2zm-4 13h2v-6h-2v6zm8.03-6.62l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.14 4.74 14.19 4 12.07 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.11-.74-4.06-1.97-5.61zm-7.03 12.62c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z" />
  </svg>
</ng-template>

<ng-template #weight let-weight="weight" let-bodyWeight="bodyWeight">
  <div class="flex gap-2">
    <svg *ngIf="bodyWeight" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
      class="icon-active">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M12 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 7h-6v13h-2v-6h-2v6H9V9H3V7h18v2z" />
    </svg>

    <div *ngIf="bodyWeight">
      <p *ngIf="(weight-userWeight)!==0">{{weightString(weight-userWeight)}}kg</p>
    </div>

    <div *ngIf="weight > 0">
      <div *ngIf="!bodyWeight">
        {{weight}}kg
      </div>

      <svg *ngIf="(weight-userWeight)!==0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
        width="24px" class="icon-active">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29l-1.43-1.43z" />
      </svg>
    </div>
  </div>
</ng-template>