<jw-modal [id]='id' (closeEvent)="onModalClosed()">
  <h1 class="text-xl font-semibold dark:text-white">New training</h1>

  <form [formGroup]="trainingForm" *ngIf="trainingForm" class="mb-3">
    <div class="flex flex-col justify-items-center mt-4">
      <label class="label mb-2">Training name</label>
      <input class="input" type="text" placeholder="name" formControlName="name">
    </div>
  </form>

  <label class="label mb-2">Color</label>
  <div class="flex items-center gap-2">
    <ngx-colors ngx-colors-trigger [(ngModel)]="color"></ngx-colors>
    <input [ngClass]="{'input-invalid': !colorStringValid() && color}" class="ml-2 input w-20" [(ngModel)]="color">
  </div>

  <div class="flex justify-end mt-4">
    <button class="btn-transparent mr-4" (click)="closeModal()">Close</button>
    <button class="btn-transparent" [disabled]="trainingForm.invalid || !colorStringValid()"
      (click)="onSubmit()">Accept</button>
  </div>
</jw-modal>