<div class="flex flex-col md:flex-row md:p-4 gap-4 h-full overflow-y-auto md:overflow-y-visible static">

  <div class="flex flex-col w-full md:w-3/5 lg:w-2/5" >
    <div *ngIf="trainingSpecs && exercisesList?.training?.setsDone?.length > 0"
      class="flex flex-wrap justify-between p-1 md:p-2 rounded-b-xl md:rounded-lg text-lg md:mb-4"
      [ngStyle]="{'background-color' : trainingSpecs.color, 'color' : contrast(trainingSpecs.color)}">
      <p>{{trainingSpecs.name}}</p>
      <p>{{trainingSpecs.date | date:'fullDate'}}</p>
    </div>
    <app-exercises-set-list (trainingSpecs)="setTrainingSpecs($event)" class="p-4 md:p-0 md:overflow-y-auto md:pr-2">
    </app-exercises-set-list>
  </div>

  <app-training-stats *ngIf="exercisesList?.training?.setsDone?.length > 0 else noExercises"
    class="w-full md:w-2/5 lg:w-3/5 md:overflow-y-auto">
  </app-training-stats>

  <ng-template #noExercises>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 card md:w-80">
      <p class="text text-justify">This training does not have any exercises, click the button at the right bottom to
        start adding some.</p>
    </div>
  </ng-template>

  <div class="absolute bottom-4 right-4">
    <button class="btn-rounded btn-yellow mx-auto shadow-lg" (click)="onEditTrainingClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-white w-10 h-10">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
      </svg>
    </button>
  </div>
</div>