<div class="flex flex-col md:flex-row p-4 items-center gap-4 h-full md:h-5/6 overflow-y-auto static">

  <app-exercises-set-list class="mx-auto"></app-exercises-set-list>

  <app-training-stats *ngIf="(exercisesList?.training | async)?.setsDone?.length > 0 else noExercises"
    class="w-full md:w-2/5 lg:w-3/5">
  </app-training-stats>

  <ng-template #noExercises>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 card md:w-80">
      <p class="text text-justify">This training does not have any exercises, click the button at the right bottom to
        start adding some.</p>
    </div>
  </ng-template>

  <div class="absolute bottom-4 right-4">
    <button class="btn-rounded btn-blue mx-auto shadow-lg" (click)="onEditTrainingClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon w-12 h-12">
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
      </svg>
    </button>
  </div>
</div>