.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
    background-color: aqua;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
    background-color: blue;
}