<form [formGroup]="exercisesSetFormGroup">
  <div class="flex flex-col">
    <div class="flex flex-row items-center">

      <label class="label mr-4 flex-grow" for="type">Type</label>
      <div class="flex w-3/5 justify-end">
        <ng-select [items]="types" [ngClass]="{'input-invalid': false}" class="input w-full"
          formControlName="selectedType">
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="input m-px">{{item | titlecase}}</div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div *ngIf="exercisesSetFormGroup.get('selectedType').value">

      <div [ngSwitch]="exercisesSetFormGroup.get('selectedType').value">
        <div *ngSwitchCase="'emom'">
          <app-emom-strategy></app-emom-strategy>
        </div>
        <div *ngSwitchDefault>
          <app-common-exercise-strategy></app-common-exercise-strategy>
        </div>
      </div>

    </div>

  </div>
</form>