<jw-modal [id]='id' (closeEvent)="onModalClosed()">
  <h1 class="text-xl font-semibold dark:text-white">New band</h1>

  <form [formGroup]="bandForm">
    <div class="flex flex-col justify-items-center mt-4">
      <label class="label mb-2">Max band resistance (kg)</label>
      <input class="input" type="number" placeholder="weight" formControlName="weight">

      <div class="flex justify-center items-center gap-2 mt-4">
        <label class="label">Color</label>
        <ngx-colors ngx-colors-trigger [formControl]="colorForm"></ngx-colors>
      </div>
    </div>
  </form>

  <div class="flex justify-end mt-4">
    <button class="btn-transparent mr-4" (click)="closeModal()">Close</button>
    <button class="btn-transparent" [disabled]="bandForm.invalid || colorForm.invalid" (click)="onSubmit()">Accept</button>
  </div>
</jw-modal>