<div class="flex items-center">
  <div class="flex card mr-4 flex-grow gap-4 flex-wrap md:flex-nowrap
  justify-items-center place-content-center">
    <p class="w-full md:w-auto text-center">{{exercise?.name}} {{exercise?.progression}} {{exercise?.variation}}</p>
    <p>{{weight}}</p>

    <div *ngFor="let band of bands">
      <div *ngIf="band" class="mx-2 btn-rounded w-6 h-6" [ngStyle]="{'background-color' : band.color}"></div>
    </div>


    <div class="flex justify-items-center">{{rest}}<svg xmlns="http://www.w3.org/2000/svg" height="24px"
        viewBox="0 0 24 24" width="24px" class="icon">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M15.07 1.01h-6v2h6v-2zm-4 13h2v-6h-2v6zm8.03-6.62l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.14 4.74 14.19 4 12.07 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.11-.74-4.06-1.97-5.61zm-7.03 12.62c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z" />
      </svg>
    </div>

    <p>{{quantity}}</p>
  </div>
  <p>x{{setsCount}}</p>
</div>