@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

.btn-green {
    @apply text-white bg-green hover:bg-green-dark
}

.btn-blue {
    @apply text-white bg-blue hover:bg-blue-dark
}

.btn {
    @apply block text-center p-3 duration-300 rounded-lg
}

.btn-transparent{
    @apply block text-center p-2 duration-300 rounded-lg
    text-blue hover:bg-blue hover:text-white
    dark:text-white font-bold
}

.btn-rounded {
    @apply block text-center p-1 duration-300 rounded-full
}

.input {
    @apply p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-green-light focus:border-transparent 
    border-light-dark dark:border-transparent bg-light-light dark:text-white
}

.input-invalid {
    @apply outline-none ring-2 ring-red-500 border-transparent
}

.card {
    @apply rounded-lg p-4 md:p-8 shadow-md bg-light-light dark:bg-dark-dark
}

.card-modal {
    @apply rounded-lg p-4 shadow-lg bg-light dark:bg-dark
}

.background {
    @apply w-screen h-screen bg-light dark:bg-dark
}

.link {
    @apply font-medium cursor-pointer text-blue dark:text-blue-light hover:underline
}

.text {
    @apply text-dark dark:text-white
}

.label {
    @apply font-semibold text-dark-darkest dark:text-light-lightest
}

.label-error {
    @apply font-semibold text-red-500
}

.radioButton{
    @apply opacity-15
    bg-light-dark dark:bg-dark border-transparent checked:opacity-100 dark:opacity-100
    checked:bg-blue hover:checked:bg-blue-light text-blue dark:text-blue-dark 
    checked:border-transparent ring-0 focus:ring-0 focus:ring-offset-0
}

.checkBox{
    @apply opacity-15 rounded-md
    bg-light-dark dark:bg-dark border-transparent checked:opacity-100 dark:opacity-100
    checked:bg-blue hover:checked:bg-blue-light text-blue dark:text-blue-dark 
    checked:border-transparent ring-0 focus:ring-0 focus:ring-offset-0
}

.h-sec {
    @apply text-4xl text-black dark:text-white
}

.h-pri {
    @apply text-6xl text-black dark:text-white
}

.icon{
    @apply fill-current text-white 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}