@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

.btn-green {
    @apply text-textPrimaryDark bg-tertiary hover:bg-tertiaryDark
}

.btn-blue {
    @apply text-textPrimaryDark bg-secondary hover:bg-secondaryDark
}

.btn {
    @apply block text-center p-3 duration-300 rounded-lg
}

.btn-transparent{
    @apply block text-center p-2 duration-300 rounded-lg
    text-secondary hover:bg-secondary hover:text-textPrimaryDark
    dark:text-secondaryLight font-bold
}

.btn-rounded {
    @apply block text-center p-1 duration-300 rounded-full
}

.input {
    @apply p-2 rounded-md border-black focus:outline-none focus:ring-2 focus:ring-tertiaryLight focus:border-transparent 
    border-transparent text-textSecondary bg-primaryLight dark:text-textSecondaryDark dark:bg-primaryDark
}

.input-invalid {
    @apply outline-none ring-2 ring-red-500 border-transparent
}

.card {
    @apply rounded-lg p-4 md:p-8 shadow-md bg-primary dark:bg-primaryLightDark
}

.card-modal {
    @apply rounded-lg p-4 shadow-lg bg-primary dark:bg-primaryLightDark
}

.background {
    @apply w-screen h-screen bg-background dark:bg-backgroundDark
}

.link {
    @apply font-medium cursor-pointer text-secondary dark:text-secondaryLight hover:underline
}

.text {
    @apply text-textSecondary dark:text-textSecondaryDark
}

.label {
    @apply font-semibold text-textSecondary dark:text-textSecondaryDark
}

.label-error {
    @apply font-semibold text-red-500
}

.radioButton{
    @apply opacity-15
    bg-gray dark:bg-primaryDark border-transparent checked:opacity-100 dark:opacity-100
    checked:bg-secondary hover:checked:bg-secondaryLight text-secondary dark:text-secondaryDark 
    checked:border-transparent ring-0 focus:ring-0 focus:ring-offset-0
}

.h-sec {
    @apply text-4xl text-textPrimary dark:text-textPrimaryDark
}

.h-pri {
    @apply text-6xl text-textPrimary dark:text-textPrimaryDark
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}