<div *ngIf="setParts.length > 0; else exerciseForm">
    <app-accordion>
        <app-accordion-item *ngFor="let setPart of setParts; index as index" [itemCss]="'card'">
            <div *ngIf="setPart.exercise" header class="text-lg text-center w-full mb-2">{{setPart?.exercise.name}} {{setPart?.quantity}}</div>
            <ng-template body [ngTemplateOutlet]="exerciseForm"></ng-template>
        </app-accordion-item>
    </app-accordion>

    <button class="btn btn-blue w-full" (click)="addExercise()">Add exercise</button>
</div>

<ng-template #exerciseForm let-index="index">
    <app-exercise-selection (exerciseSelected)="setExerciseSelected($event)"></app-exercise-selection>

    <div *ngIf="exerciseSelected">
        <app-set-properties-selection (setPart)="addSetPart($event, index)" [exercise]="exerciseSelected"
            [restBetweenExercises]="restBetweenExercises">
        </app-set-properties-selection>
    </div>
</ng-template>