<div
    class="md:m-auto rounded-lg p-4 md:p-8 md:shadow-md md:bg-light-lightest md:dark:bg-dark-dark md:card flex flex-col">
    <div class="ml-auto md:mx-auto">
        <button class="btn btn-blue" (click)="onLogOutButtonClicked()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-white w-6 h-6">
                <path d="M0,0h24v24H0V0z" fill="none" />
                <path
                    d="M17,8l-1.41,1.41L17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4L17,8z M5,5h7V3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h7v-2H5V5z" />
            </svg>
        </button>
    </div>
    <div class="separator-light"></div>

    <h2 class="font-bold text-xl text-dark-darkest dark:text-light-lightest">Exercises creation/edition</h2>
    <app-exercise-selection></app-exercise-selection>

    <div class="separator-light"></div>
    <h2 class="font-bold text-xl text-dark-darkest dark:text-light-lightest">Body Weight</h2>
    <div class="flex place-content-center items-center">
        <label class="label mr-2">Weight</label>
        <input [ngModel]="weight" (ngModelChange)="onWeightChanged($event)" class="input w-12 h-8 text-center mr-1" type="number">
        <p>Kg</p>
    </div>

    <p class="text-center mt-4 text-light-dark">v1.0.2b</p>

</div>